<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nothing.mass">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />

    <application
        android:label="MASS"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <service
            android:name=".service.MassGlyphService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
